<!-- app-about.component.html -->
<div class="container mt-5">
  <h1 class="text-center">About Me</h1>
  <p class="lead text-center">
    I'm Megha Katre, a dedicated Full-Stack developer with a strong passion for creating engaging and user-friendly web applications.
    My expertise lies in HTML, CSS, and JavaScript, Angular, Core Java, Spring Boot, MySQL, SQL, Git, Github, and I enjoy exploring new technologies to enhance my skills.
  </p>

  <h2 class="text-center mt-4 mb-4">My Skills Include</h2>

  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body text-center">
          <h2 class="card-title">Frontend Development</h2>
          <ul class="list-group list-group-flush text-center">
            <li class="list-group-item">HTML</li>
            <li class="list-group-item">CSS</li>
            <li class="list-group-item">JavaScript</li>
            <li class="list-group-item">Angular</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body text-center">
          <h2 class="card-title">Backend Development</h2>
          <ul class="list-group list-group-flush text-center">
            <li class="list-group-item">JavaScript</li>
            <li class="list-group-item">Java</li>
            <li class="list-group-item">Java Springboot</li>
            <li class="list-group-item">Python</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body text-center">
          <h2 class="card-title">Database</h2>
          <ul class="list-group list-group-flush text-center">
            <li class="list-group-item">SQL</li>
            <li class="list-group-item">MySQL</li>
            <li class="list-group-item">MongoDB</li>
            <li class="list-group-item">Firebase</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body text-center">
          <h2 class="card-title">Programming Languages</h2>
          <ul class="list-group list-group-flush text-center">
            <li class="list-group-item">Java</li>
            <li class="list-group-item">Python</li>
            <li class="list-group-item">JavaScript</li>
            <li class="list-group-item">C++</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  

  <button class="btn btn-primary mt-4">Show More</button>
</div>
