<div class="container mt-5">
  <h1 class="text-center mb-4">My Projects</h1>

  <div class="row">
    <div class="col-md-6 mb-4">
      <div class="card">
        <img src="assets/bookstore.jpeg" class="img-fluid" alt="Book Management System">
        <div class="card-body">
          <h5 class="card-title">Book Management System</h5>
          <p class="card-text">
            This book management system, built with Spring Boot, Thymeleaf, and MySQL, allows users to add, view, edit, and delete books. It utilizes Spring Boot's efficiency, Thymeleaf's maintainability, and MySQL's structured storage, offering a scalable and flexible solution.
          </p>
          <p class="card-text"><b>Technology used:</b> Spring Boot, Thymeleaf, MySQL</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img src="assets/attendance.jpeg" class="img-fluid" alt="Attendance Management Portal">
        <div class="card-body">
          <h5 class="card-title">Attendance Management Portal</h5>
          <p class="card-text">
            This Python portal utilizes a machine learning algorithm like face recognition to automate attendance marking. Users register, and the system identifies them through images to mark attendance, increasing accuracy and saving time.
          </p>
          <p class="card-text"><b>Technology used:</b> Python, Machine Learning</p>
        </div>
      </div>
    </div>
  </div>
</div>
